<!DOCTYPE html>
{% load static %}
<html>
<body>
<img src="{% static 'images/Aakash_logo.png' %}" alt="AAKASH" />
<div class="divs">
List of coordinators

<br /><br/>
{% if coords %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list-style.css' %}">
<ul class = "coords-list">
{% for c in coords %}
<li>
{{ c.name }}
</li>
{% endfor %}
</ul>
{% endif %}
{% if rc %}
</div>
<br />
<div class ="divs">
List of Remote Centres

<br /><br />
<ul class="rc-list">
{% for rc in rc %}
<li>
{{ rc }}
</li>
{% endfor %}
</ul>
{% endif %}
</div>
</body>
</html>
